.sprite {
    width: 63px;  /* 252 / 4 */
    height: 63px; /* 252 / 4 */
    background-image: url('/animation/sprites/bergschaf-grasend-f.png');
    background-repeat: no-repeat;
    animation: walk 1s steps(16) infinite;
}

@keyframes walk {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -1008px 0; /* 63px * 16 frames */
    }
}  